/* 
========================================================================
CSS RESET from http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
========================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===========================================================
======================= TAGS STYLES =========================
============================================================*/

::-webkit-scrollbar {
  width: 3px;               
  height: 5px;            
}
::-webkit-scrollbar-track {
  background: transparent;  
}
::-webkit-scrollbar-thumb {
  background: #888;         
  border-radius: 10px;   
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 215, 215);  
}
* {
    overscroll-behavior: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html, body {
    overscroll-behavior: none;
    font-family: "Inter", sans-serif;
    color: white;

}
body {

    background-color: #0f0f15;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    justify-content: center;
    margin: 0;

}

/*===========================================================
================== IDs AND CLASSES STYLES ===================
============================================================*/

#container {

    width: 1240px;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    box-sizing: border-box;

}

#left-box {
    
    box-sizing: border-box;
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 100%;
    gap: 8px;
    width: 300px;
    position: relative;
    z-index: 100000000000000000;
    transition: width 0.2s ease; 
}

#left-box.closed {
    width: 60px;
}

#explore-button {
    border: 1px solid rgba(255, 255, 255, 0.208); 
    border-radius: 20px;
    
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    color: #ffffffb2;
}

#subscribe-button {

    border: 1px solid rgba(255, 255, 255, 0.208); 
    border-radius: 20px;
    color: #ffffffb2;
    font-weight: 500;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
}


#right-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

#feed {
    width: 580px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 11px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.208);
    border-radius: 5px;
    

}

#feed > :last-child {
    border-bottom: 0px solid rgba(255, 255, 255, 0.208);
}

.feed-item {

    width: 100%;
    gap: 10px;
    height: fit-content;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.208);
    border-bottom: 1px solid rgba(255, 255, 255, 0.208);
    border-top: 0;
    box-sizing: border-box;
}

#search {

    box-sizing: border-box;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;

    border-radius: 10px; 
    background-color: #181820;

}
#search-input {
    border: 0px solid black;

    background-color: transparent;
    color: #ffffffb2;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    font-size: 0.95rem;
}

#search-input:focus {
    border: 0px solid white;
    outline: 0px solid white;
}


.left-box-button {
    height: 52px;
    width: 100%;
    background-color: transparent;
    color: #ffffffb2;
    border: 0px solid black;
    font-size: 0.95rem;
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    align-items: center;
    box-sizing: border-box;
    

}

.left-box-button:hover {

    background-color: #ffffff0f;

}

#plus-bt {
    height: 21px;
    width: 21px;   
}

.right-box-button {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: 0;
}


.right-box-button svg{

    height: 20px;
    width: 20px;
    background-color: transparent;
    color: #ffffffb2;
    box-sizing: border-box;
}

#exp-bt {
    border-bottom: 0px solid white;
}



#left-box-buttons-div {
    width: 100%;
}

#left-box hr {
    width: 100%;
    border: 1px solid rgb(59, 59, 59);
    border-bottom: 0px;
}

.left-box-button p {
    
    text-align: left;
    color: #ffffffb2;
    padding-left: 12px;
    font-size: 0.9rem;
}

.left-box-button svg {
    width: 16px;
    height: 16px;
    color: #ffffffb2;
}

#sub-bt svg {
    width: 19px;
    height: 19px;
}



#right-box-bottom {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.208);
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;

    z-index: -1;
}

#subscriptions-box {

    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    

}


#boo-bt svg {
    width: 19px;
    height: 19px;
}

#set-bt svg {
    width: 18px;
    height: 18px;
}

#subscriptions-box button {
    background-color: transparent;
    width: fit-content;
    font-size: 0.9rem;
    border: 0;
    color: rgb(184, 184, 184);
}

#subscriptions-box button:hover {

    text-decoration: underline;

}

#explore-box {

    width: 100%;
    flex: 1;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;


}

#explore-box-input {
    background-color: #181820;
    width: 100%;
    height: 32px;
    margin-bottom: 8px;
    border: 0px solid gray;
    padding-left: 8px;
    color: rgb(255, 255, 255);
    font-weight: 200;

}

#explore-box-input:focus {
    border: 0px solid white;
    outline: 0px solid white;
}

#explore-box button {
    
    margin-bottom: 8px;
    background-color: #181820;
    padding: 6px;
    border-radius: 6px;
    margin-right: 4px;
    border: 0px solid rgb(98, 98, 98);
    color: rgb(255, 255, 255);
}

#explore-box button:hover {
    scale: 1.02;

}

#explore-box button#right-box-x {
    position: absolute;
    border: 0;
    background-color: transparent;
    color: rgb(196, 196, 196);
    top: 2px;
    right: 4px;
}
#right-box-x {
    position: absolute;
    border: 0;
    background-color: transparent;
    color: rgb(196, 196, 196);
    top: 2px;
    right: 4px;
}

#search-svg {
    width: 20px;
    height: 20px;;
    position: absolute;
    display: none;
    color: rgba(255, 255, 255, 0.295);
    padding-bottom: 10px;
}

.article-profile {

    border: 1px solid rgba(255, 255, 255, 0.201);
    border-radius: 40px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

}

.article-profile-left {

    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.article-title {
    width: 100%;
    margin-bottom: 5px;
    height: fit-content;
    max-height: 80px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0.02em;
}

.article-img {
    width: 100%;
    /*background-color: rgb(0, 30, 255);*/
    border: 1px solid rgba(255, 255, 255, 0.253);
    aspect-ratio: 16 / 12;
}
 
.article-description {
    width: 100%;
    font-size: 0.9rem;
    color: #ffffffae;
    margin-top: -5px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 0.02em;
}

.article-bottom {
    width: 100%;
    background-color: rgba(102, 20, 157, 0);
    color: rgba(255, 255, 255, 0.484);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 0.9rem;  
 

}

#ranking-number {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.876);
    font-weight: 500;
    padding-left: 3px;
}
.blog-favicon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgb(119, 127, 135);
    border: 1px solid rgba(255, 255, 255, 0.201);
}

.article-data {
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
    letter-spacing: 1px;
    padding-left: 4px;
}

.article-subscribe-button {
    height: 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-subscribe-button svg {

    width: 16px;
    margin-right: 2px;
    stroke-width: 2.5px;

}

.bookmark-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 0;
    margin-right: -8px; 
    cursor: pointer;
}

.bookmark-button:hover {
    scale: 1.1;
}

.bookmark-button.active path {

    fill: rgb(255, 255, 255);
    stroke: currentColor;

}

.bookmark-button svg {
    color: #ffffff;
    width: 20px;
    height: 20px;
    stroke-width: 1.4px; 
    stroke: currentColor; 
    stroke-linejoin: round;
    stroke-linecap: round;

}

#widget {
    width: 100%;
    border-radius: 10px;
    background-color: #181820;
    flex: 1;
    max-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#widget-title {
    font-weight: 800;
    font-size: 1.08rem;
    width: 200px;
    text-align: center;
    line-height: 1.65em;
}

#widget img {

    width: 134px;
    margin-top: -5px;
    margin-bottom: -10px;
    opacity: 0.95;
}

#widget-text {
    width: 200px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.6em;
    color: #ffffffae;
}

#profile-img {

    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.562);

}   

#exit-button {
    background-color: #2b2b38;
    border-radius: 14px;
    padding: 14px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: rgb(255, 255, 255);
    border: 0px;
}

#exit-button:hover {
    background-color: rgb(210, 9, 53);
}

#sponsor-section {
    width: 94%;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.208); 
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: #ffffffe2;
    font-size: 0.9rem;
    left: calc(50% - 47.5%);
    position: absolute;
    
}

#profile-section {
    width: 100%;
    box-sizing: border-box;
    height: 68px;
    /*border: 1px solid rgba(255, 255, 255, 0.208); */
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    background-color: #181820;
    border-radius: 10px;
}
#profile-section  p {
    font-size: 0.85rem;
}

#profile-section {
    transition: height 0.2s ease; 
}

#minimize-button {

    height: 18px;
    width: 100%;
    background-color: transparent;
    border: 0px solid white;
    color: rgba(255, 255, 255, 0.608);
    text-align: right;
    position: absolute;
    padding-right: 5px;
    
}

#language {
    width: 100%;
    border-radius: 0px;
    height: 28px;
}

#title {
    font-size: 2rem;
    text-align: start;
    width: 110px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 14px;
}




#icon-and-about {

    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


#icon-and-about a svg{

    color: #666666;
}






#not-bt svg{
    width: 20px;
    height: 20px;
}

.go-back-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 20px;
    margin-right: 22px;
    background-color: transparent;
    border: 0px solid black;
    width: 26px;
    cursor: pointer;
   
}


/*===========================================================
===================== SETTINGS SECTION ======================
============================================================*/


#settings, #new-post, #bookmarks, #notifications, #profiles {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f15;    
    align-items: center;
    gap: 40px;
    flex-direction: column;
    display: none;
    overflow-y: scroll !important;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-bottom: 100px;
    padding-top: 100px;

}
#settings h2, #new-post h2 {

    font-size: 2rem;
    font-weight: 680;
    max-width: 580px;
    width: 92%;
    padding-bottom: 30px;

}
#settings p {

    max-width: 580px;
    text-align: start;
    width: 92%;
    font-size: 1.2rem;
    font-weight: 600;
    font-size: 2;
}
#settings section {

    max-width: 580px;
    height: fit-content;
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    
}
#settings section button {
    height: 54px;
    border: 0;
    background-color: transparent;
    color: white;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;

}
#settings section div {
    height: 54px;
    border: 0;
    background-color: transparent;
    color: white;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#settings section select {

    border-radius: 0;
    border: 1px solid rgb(91, 91, 91);
    height: 28px;
    width: 120px;
    padding-left: 7px;
    background-color: transparent;
    color: white;

}
#settings section div:hover, #settings section button:hover {

    background-color: #1e1e26;
}
#save-settings-button {
    background-color: rgba(250, 250, 250, 0.035) !important;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.208) !important;
    width: 200px;
    margin-top: 20px;

}
#save-settings-button:hover {
    scale: 1.01;
}
#settings div > input[type="number"] {

    width: 28px;
    height: 22px;
    background-color: transparent;
    border: 1px solid rgb(91, 91, 91);
    color: white;
    padding-left: 6px;
    box-sizing: border-box;

}
#settings div > input[type="number"]:focus {
    outline: 1px solid white;
    border: 0px solid black;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
#block-list {
    display: flex;
    flex-direction: column;


}
#block-list div {
    display: flex;
    flex-direction: row;

}
#block-list div button {

    width: fit-content;
    height: fit-content;
    color: #979797;
    padding: 0;
}
#block-list div > :first-child:hover {
    text-decoration: underline;
}
.go-back-button svg{
    color: rgb(126, 126, 126);
   
}

/*===========================================================
==================== NEW POST SECTION =======================
============================================================*/

#new-post input[type="url"] {

    max-width: 580px;
    text-align: start;
    width: 92%;
    
    font-size: 0.9rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.208);
    color: white;
    padding: 14px;
    
}

#new-post label {

    color: #b0b0b0;
    font-weight: 400;
    font-size: 0.9rem;
}

#new-post input[type="url"]:focus {
    outline: 1px solid rgb(142, 142, 142);
}

#new-post label {

    max-width: 580px;
    width: 92%;

}



#new-post > div img {
    width: 100%;

}


#new-post-div {

    border: 1px solid rgba(255, 255, 255, 0.208);
    padding: 10px;
    max-width: 580px;
    width: 92%;
    gap: 10px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}


#publish-agreement {
    border: 1px solid rgba(255, 255, 255, 0.208);
    padding: 10px;
    border-radius: 5px;
    line-height: 24px;    
}



#publish-button-div {
    max-width: 580px;
    width: 92%;
    display: flex;
    justify-content: end;
    gap: 30px;
    color: #666666;
}

#verify-button-div {
    max-width: 580px;
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: #666666;
}

#verify-button {
    width: fit-content;
    padding: 14px;
    padding-left: 48px;
    padding-right: 48px;
    
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.208);
    color: white;

}

#publish-button {
    width: 180px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 0px solid white;
    
    
}




/*===========================================================
===================== PROFILES SECTION ======================
============================================================*/



#profiles-feed {

    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(255, 0, 0);
    margin-top: 44px;

}

#profiles-feed > article {

    padding-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.208);
    border-bottom: 0px solid rgba(255, 255, 255, 0.208);

}
#profiles-top {

    width: 580px;
    position: fixed;
    top: 10px;
    height: 46px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: #0f0f15;
    padding-left: 10px;
    padding-right: 14px;
    border: 1px solid rgba(255, 255, 255, 0.208);
    color: white;
    font-size: 1rem;
    cursor: pointer;
 
}
#profiles-top:hover {
    background-color: #181820;
}
#profiles-top-background {
    width: 580px;
    position: fixed;
    top: 0px;
    height: 44px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #0f0f15;
    padding-left: 10px;
    

}
#profiles-middle {

    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
#profiles-feed > div > p {
    max-width: 580px;
    width: 86%;
    color: #b1b1b1;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.6em;
    word-spacing: 1px;

}
#profiles-buttons {
    
    max-width: 580px;
    width: 92%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 16px;
    align-items: center;
    justify-content: center;

    
}
#profiles-buttons button:hover {

    scale: 1.02;
}
#profiles-buttons button {

    border: 1px solid rgba(255, 255, 255, 0.208);
    border-radius: 40px;
    color: white;
    background-color: transparent;
    font-size: 0.9rem;
    cursor: pointer;

}
#profiles-buttons button svg {
    width: 18px;
    color: #c4c4c4;
    margin-top: 4px;
}
#profiles-buttons #subscribe {

    width: 140px;
    height: 40px;
    background-color: #2a2c78;
    border: 0px solid black;
    
}
#profiles-buttons #block {

    width: 100px;
    height: 40px;

}
#profiles-buttons #flag {

    width: 44px;
    height: 40px;

}
#profile-favicon {

    width: 40px;
    height: 40px;
    
    border-radius: 50%;
}
#profile-tags {

    width: 90%;
    display: flex;      
    flex-wrap: wrap;     
    justify-content: center; 
    row-gap: 10px; 
    column-gap: 8px;

}
#profile-tags  button {

    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 8px;
}

