/* 
========================================================================
CSS RESET from http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
========================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
========================================================================
========================================================================
*/


::-webkit-scrollbar {
  width: 3px;               
  height: 5px;            
}


::-webkit-scrollbar-track {
  background: transparent;  
}


::-webkit-scrollbar-thumb {
  background: #888;         
  border-radius: 10px;   
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 215, 215);  
}
* {
    overscroll-behavior: none;
}

html, body {
    overscroll-behavior: none;
    font-family: system-ui;
    color: white;

}

body {

    background-color: #0f0f15;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    justify-content: center;
    margin: 0;
}

#container {
    width: 1240px;
    
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    box-sizing: border-box;
    

}

#left-box {
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
    width: 300px;
    /*border: 1px solid rgba(255, 255, 255, 0.208); */
    position: relative;
    z-index: 100000000000000000;
    transition: width 0.2s ease; 
}

#left-box.closed {
    width: 60px;
}




#explore-button {
    border: 1px solid rgba(255, 255, 255, 0.208); 
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.703);
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    color: #ffffffb2;
}

#subscribe-button {

    border: 1px solid rgba(255, 255, 255, 0.208); 
    border-radius: 20px;
    color: #ffffffb2;
    font-weight: 500;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
}


#right-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /*border: 1px solid rgba(255, 255, 255, 0.208);
    padding: 5px;
    height: fit-content;
    border-radius: 10px;*/
    box-sizing: border-box;

    
}



#feed {
    width: 580px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 11px;
    
    display: flex;
    flex-direction: column;
    /*border-top: 1px solid rgb(197, 197, 197);
    gap: 12px;*/
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.208);
    border-radius: 5px;
    overflow: hidden;
    


}

.feed__item {
    width: 100%;
    
    gap: 10px;
    height: fit-content;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
    border-top: 1px solid rgba(255, 255, 255, 0.208);
    border-bottom: 1px solid rgba(255, 255, 255, 0.208);
    border-top: 0;
    
    box-sizing: border-box;
    
}
/*
.feed__item:hover {
    border: 1px solid rgba(255, 255, 255, 0.417);  
}*/


#search {

    box-sizing: border-box;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;

    border-radius: 10px; 
    background-color: #181820;

}
#search-input {
    border: 0px solid black;

    background-color: transparent;
    color: #ffffffb2;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    font-size: 0.95rem;
}

#search-input:focus {
    border: 0px solid white;
    outline: 0px solid white;
}


.left-box-button {
    height: 52px;
    width: 100%;
    background-color: transparent;
    color: #ffffffb2;
    border: 0px solid black;
    font-size: 0.95rem;
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    align-items: center;
    box-sizing: border-box;
    

}

#plus-bt {
    height: 21px;
    width: 21px;   
}

.right-box-button {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: 0;
}


.right-box-button svg{

    height: 20px;
    width: 20px;
    background-color: transparent;
    color: #ffffffb2;
    box-sizing: border-box;
}

#exp-bt {
    border-bottom: 0px solid white;
}



#left-box-buttons-div {
    width: 100%;
}

#left-box hr {
    width: 100%;
    border: 1px solid rgb(59, 59, 59);
    border-bottom: 0px;
}

.left-box-button p {
    
    text-align: left;
    color: #ffffffb2;
    padding-left: 12px;
    font-size: 0.9rem;
}

.left-box-button svg{
    width: 16px;
    height: 16px;
    
    color: #ffffffb2;
    
}

#sub-bt svg {
    width: 19px;
    height: 19px;
}

#settings-box {

    width: 100%;
    flex: 1;
    border:  1px solid rgba(255, 255, 255, 0.208); 
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.9rem;
    position: relative;

}

#right-box-bottom {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.208);
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;

    z-index: -1;
}

#settings-box div input {
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #696969; 
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-grid;
    place-content: center;
    border-radius: 2px;
}

#settings-box div input[type="checkbox"]:checked {
    background-color: transparent;
}

#settings-box div input[type="checkbox"]::before {
    content: "✔";
    font-size: 12px;
    color: rgb(181, 196, 255);
    transition: 120ms transform ease-in-out;
    transform: scale(0); 
    transition: 120ms transform ease-in-out;
}

#settings-box div input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#subscriptions-box {

    width: 100%;
    flex: 1;
    /*border:  1px solid rgba(255, 255, 255, 0.208); */
    border-top: 1px solid rgba(255, 255, 255, 0.208);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    /*padding: 20px;*/
    padding-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;

}

#settings-box div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#boo-bt svg {
    width: 19px;
    height: 19px;
}

#set-bt svg {
    width: 18px;
    height: 18px;
}

#subscriptions-box button {
    background-color: transparent;
    width: fit-content;
    font-size: 0.9rem;
    border: 0;
    color: rgb(184, 184, 184);
    
}

#subscriptions-box button:hover {

    text-decoration: underline;
}


#explore-box {

    width: 100%;
    flex: 1;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    
}

#explore-box button {
    
    margin-bottom: 8px;
    background-color: #181820;
    padding: 6px;
    
    border-radius: 6px;
    margin-right: 4px;
    border: 0px solid rgb(98, 98, 98);
    color: rgb(255, 255, 255);
}

#explore-box button:hover {
    scale: 1.02;

}

#explore-box button#right-box-x {
    position: absolute;
    border: 0;
    background-color: transparent;
    color: rgb(196, 196, 196);
    top: 2px;
    right: 4px;
}
#right-box-x {
    position: absolute;
    border: 0;
    background-color: transparent;
    color: rgb(196, 196, 196);
    top: 2px;
    right: 4px;
}

#search-svg {
    width: 20px;
    height: 20px;;
    position: absolute;
    display: none;
    color: rgba(255, 255, 255, 0.295);
    padding-bottom: 10px;
}

.article-profile {

    border: 1px solid rgba(255, 255, 255, 0.201);
    border-radius: 40px;
    padding: 5px;
    box-sizing: border-box;
    
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

}

.article-profile-left {

    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.article-title {
    width: 100%;
    margin-bottom: 5px;
    height: fit-content;
    max-height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    
    line-height: 1.3em;
    letter-spacing: 0.02em;

    

}

.article-img {
    width: 100%;
    /*background-color: rgb(0, 30, 255);*/
    border: 1px solid rgba(255, 255, 255, 0.253);
    aspect-ratio: 16 / 12;
}
 
.article-description {
    width: 100%;
    font-size: 0.9rem;
    color: #ffffffae;
    margin-top: -5px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 0.02em;
}

.article-bottom {
    width: 100%;
    background-color: rgba(102, 20, 157, 0);
    color: rgba(255, 255, 255, 0.484);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 0.9rem;  
 

}

#ranking-number {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.876);
    font-weight: 500;
    padding-left: 3px;
}
.blog-favicon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgb(119, 127, 135);
    border: 1px solid rgba(255, 255, 255, 0.201);
}

.article-data {
    font-size: 0.7rem;
}

.article-subscribe-button {
    height: 20px;
    background-color: transparent;
    color: white;
    border: 0;
    margin-right: 7px;
}

.up-button {
    border: 0;
    width: fit-content;
    height: fit-content; 
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}





.up-button:hover {
    scale: 1.1;
}

.up-button svg {
    width: 21px;
    height: 21px;
    stroke-width: 1.3px; 
    color: rgb(214, 40, 165);
}

.up-button path {
    fill: none;
}

.up-button.active path {
    fill: rgb(214, 40, 165);
    stroke: currentColor;
}



.article-rating {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flag-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 0;
    margin-right: -8px; 
    cursor: pointer;
}

.flag-button svg {
    color: #ffffff;
    width: 20px;
    height: 20px;
    stroke-width: 1.4px; 
    stroke: currentColor; 
    stroke-linejoin: round;
    stroke-linecap: round;

}

#widget {
    width: 100%;
    border-radius: 10px;
    background-color: #181820;
    flex: 1;
    max-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#widget-title {
    font-weight: 800;
    font-size: 0.95rem;
    width: 200px;
    text-align: center;
    line-height: 1.65em;
}

#widget img {

    width: 134px;
    margin-top: -5px;
    margin-bottom: -10px;
    opacity: 0.95;
}

#widget-text {
    width: 200px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.6em;
    color: #ffffffae;
}

#profile-img {

    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.562);

}   

#exit-button {
    background-color: #2b2b38;
    border-radius: 14px;
    padding: 14px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: rgb(255, 255, 255);
    border: 0px;
}

#exit-button:hover {
    background-color: rgb(210, 9, 53);
}

#sponsor-section {
    width: 94%;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.208); 
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: #ffffffe2;
    font-size: 0.9rem;
    left: calc(50% - 47.5%);
    position: absolute;
    
}

#profile-section {
    width: 100%;
    height: 68px;
    /*border: 1px solid rgba(255, 255, 255, 0.208); */
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    background-color: #181820;
    border-radius: 10px;
}
#profile-section  p {
    font-size: 0.85rem;
}

#profile-section {
    transition: height 0.2s ease; 
}

#minimize-button {

    height: 18px;
    width: 100%;
    background-color: transparent;
    border: 0px solid white;
    color: rgba(255, 255, 255, 0.608);
    text-align: right;
    position: absolute;
    padding-right: 5px;
    
}

#language {
    width: 100%;
    border-radius: 0px;
    height: 28px;
}


#title {
    font-size: 2rem;
    text-align: start;
    width: 100%;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
    font-family: "Dangrek", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 3px;
}
