<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Notifications</title>


</head>
<body>

    <section class="bookmarks" id="bookmarks">
        <a id="go-back-button" class="go-back-button"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><path d="M9 14 4 9l5-5"/><path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/></svg></a>
        <h1 class="bookmarks__title">Local data</h1>

        <div class="local-data__management">

            <div class="local-data__management-menu">
                <div>
                    <button>copy</button>
                    <button>paste</button>
                    <button>merge</button>
                </div>

                <button>submit</button>
            
            </div>
            <textarea spellcheck="false" id="local-data-textarea" class="local-data__textarea"></textarea>
        
        </div>
  
    </section>
</body>











 <!--<div class="local-data__div-top">

                <div>
                    <div class="local-data__tab">+</div>
                </div>
                <div>
                    <div class="local-data__tab"></div>
                    <div class="local-data__tab"></div>
                    <div class="local-data__tab"></div>
                    <div class="local-data__tab"></div>
                </div>





            </div>id="local-data-text-area"
            <pre id="local-data-pre" class="local-data__text-area"><code id="local-data-code" class="language-json" contenteditable="true" spellcheck="false"></code></pre>

<pre spellcheck="false" contenteditable="true" id="local-data-text-area" class="local-data__text-area"></pre>            -->
            
